<!DOCTYPE html>
<html>
<head>
  <title>SodisplayedApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
    if (window.env === undefined) {
      window.env = {};
    }
    window.env.SOCKET_SERVER_URL = <%=raw (ENV['SOCKET_SERVER_URL'] || 'http://localhost:12345').to_json %>;
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
